<h1>{{title}}</h1>

<form action="{{url}}/{{id}}" method="post">
  <p>
    <label for="username">Nombre de usuario:</label>
    <input type="text" name="username" id="username" value="{{username}}" required>
  </p>

  <p>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" value="{{email}}" required>
  </p>

  {{#if password}}
  <p>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
  </p>
  {{/if}}

  <p id="errorMsg">{{errorMsg}}</p>

  <input type="submit" value="{{btnValue}}">
</form>