<section class="contenedor-paginas">
<h2>Lista de descubrimiento</h2>
<form action="/discover/results" method="POST">
  <input type="text" name="searchTrack" id="searchTrack" value="{{search}}">
</form>

<div id="results">
{{#each tracks}}
<p>
  <a href="/stock/{{this.id}}">  
      <span class='res-price'>${{this.popularity}}</span>
      <span class='res-artist'>{{this.artists.[0].name}} </span>
      <span class='res-name' >{{this.name}}</span> </a>
</p>
{{/each}}
</section>
</div>